<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-success" style="text-align: center;">
      Unistores
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  color="success">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
    <ion-button  color="success">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
    <ion-button slot="primary" color="success">SIGN UP</ion-button>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  <iframe src="https://unistores.com.ng/errand/" class="embed-responsive-item" title="Unistores Errand Services" allowfullscreen="true" width="100%" height="100%" class="me" onload="closeProgressIndicator()" id="bt"></iframe>
  -->
  <div class="embed-responsive" style="width: 100%; height: 100%;">
    <iframe src="https://unistores.com.ng/errand/" class="embed-responsive-item" title="Unistores Errand Services" allowfullscreen="true" width="100%" height="100%" class="me" onload="closeProgressIndicator()" id="bt"></iframe>
  </div>

</ion-content>
 https://unistores.com.ng/logistics/
